<%- include partials/header -%>
<!--OR include("partials/header") -->
<h1>Home</h1>
<p><%= homeContent %></p>

<% for (let i=0; i<posts.length;  i++ ) { %>
      <p><%= posts[i].postTitle %> - <%= posts[i].postBody %></p>
      <% } %>

<%- include partials/footer -%>
